#main-stage {
    -fx-background-image: url("../img/patterns/footer_lodyas.png");
    -fx-background-repeat: repeat;
}

#midAnchorPane {
    -fx-background-image: url("../img/patterns/micro_carbon.png");
    -fx-background-repeat: repeat;
}

.progress-bar .bar {
    -fx-background-color: #00BCD4;
}

.jfx-popup-container {
    -fx-background-color: WHITE;
}

.button-raised{
    -fx-padding: 0.7em 0.57em;
    -fx-font-family: "Trebuchet MS";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(0, 188, 212);
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-text-fill: WHITE;
}

.button-raised-large{
    -fx-padding: 0.7em 0.57em;
    -fx-font-family: "Trebuchet MS";
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(0, 188, 212);
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-text-fill: WHITE;
}


