.root {
    -fx-background-image: url("../img/patterns/footer_lodyas.png");
    -fx-background-repeat: repeat;
}

#midAnchorPane {
    -fx-background-image: url("../img/patterns/micro_carbon.png");
    -fx-background-repeat: repeat;
}

.progress-bar .bar {
    -fx-background-color: #00BCD4 ;
}

