
* {
    -fx-font-family: "Montserrat-Bold";
}

#main-stage {
    -fx-background-image: url("../img/patterns/footer_lodyas.png");
    -fx-background-repeat: repeat;
}

.progress-bar .bar {
    -fx-background-color: rgb(30, 214, 96);
}

.jfx-popup-container {
    -fx-background-color: WHITE;
}

.button-raised {
    -fx-padding: 0.7em 0.57em;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(0, 188, 212);
    -fx-pref-width: 100;
    -fx-pref-height: 30;
    -fx-text-fill: WHITE;
}

.button-raised-large {
    -fx-padding: 0.7em 0.57em;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(0, 188, 212);
    -fx-pref-width: 150;
    -fx-pref-height: 30;
    -fx-text-fill: WHITE;
}

#buy-driver-button {
    -fx-padding: 0.7em 0.57em;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-button-type: RAISED;
    -fx-background-color: rgb(0, 188, 212);
    -fx-text-fill: WHITE;
}

/*
    The tab bar
*/
.jfx-tab-pane .headers-region {
    -fx-background-color: rgb(24, 24, 24);
}

.jfx-tab-pane .tab-header-background {
    -fx-background-color: rgb(24, 24, 24);
}

.jfx-tab-pane .tab-selected-line {
    -fx-stroke: rgb(30, 214, 96);
    -fx-stroke-width: 3pt;
}

.pane {
    -fx-border-radius: 10;
}

/*
Menu Buttons
 */
#close-button:hover {
    -fx-background-color: #c61717;
}

#minimize-button:hover {
    -fx-background-color: #A0A0A0;
}


